* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* log out button */


        /* From Uiverse.io by vinodjangid07 */
        .Btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 45px;
          height: 45px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          transition-duration: .3s;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
          background-color: rgb(235, 78, 98);
          margin-left: 10px;
      }

      /* plus sign */
      .sign {
          width: 100%;
          transition-duration: .3s;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .sign svg {
          width: 17px;
      }

      .sign svg path {
          fill: white;
      }

      /* text */
      .text {
          position: absolute;
          right: 0%;
          width: 0%;
          opacity: 0;
          color: white;
          font-size: 1em;
          font-weight: 600;
          transition-duration: .3s;
      }

      /* hover effect on button width */
      .Btn:hover {
          width: 125px;
          border-radius: 40px;
          transition-duration: .3s;
      }

      .Btn:hover .sign {
          width: 30%;
          transition-duration: .3s;
          padding-left: 20px;
      }

      /* hover effect button's text */
      .Btn:hover .text {
          opacity: 1;
          width: 70%;
          transition-duration: .3s;
          padding-right: 10px;
      }

      /* button click effect*/
      .Btn:active {
          transform: translate(2px, 2px);
      }


/* ------------------------- */

.container header a span {
  letter-spacing: 6px;
}

.container header ul {
  letter-spacing: 3px;
}

/* Background Section */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: url("img/b.png") no-repeat center center/cover; */
  z-index: -1;
  box-shadow: inset 0px 40px 100px 25px black;
}

.button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #ff3b30;
  /* Change this for different color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #d62c1a;
}

/* body h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif; */
/* font-weight: 700; Adjust the weight based on the font style you selected */
/* font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-style: normal; */
/* } */

h3 a {
  position: relative;
  text-decoration: none;
  color: inherit; /* Ensures the font color stays the same */
  line-height: 1;
  cursor: pointer;
}

h3 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust position */
  width: 0%;
  height: 2px; /* Thickness of underline */
  background: slateblue; /* Color of underline */
  transition: width 350ms ease-in-out;
}

h3 a:hover {
  color: inherit !important; /* Prevents font color change */
}

h3 a:hover::after {
  width: 100%;
}

/* First movie carousel */
/* .recommended-movies-title  */
/* .premiere-movies-title  */
.movies-title {
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  margin-top: 100vh;
  margin-left: 6%;
  margin-right: 6%;
}

.movie-slider-container {
  position: relative;
  /* width: 100%; */
  overflow: hidden;
  margin: auto;
  margin-left: 6%;
  margin-right: 6%;
  max-width: 1200px;
  display: flexbox;
}

.movie-slider {
  display: flex;
  transition: transform 0.9s ease-in-out;
  will-change: transform; /* Helps with performance */
}

.movie-card {
  flex: 0 0 20%; /* Each card takes 20% of the container width */
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.movie-card img {
  width: 100%; /* Ensures image fits in its container */
  height: auto; /* Maintains aspect ratio */
  /* border-radius: 10px; */
}

.movie-card p {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 0;
  background-color: transparent;
}

button.next {
  right: 0;
  background-color: transparent;
}

.background {
  fill: #999999; /* Color for the background circle */
}

.arrow {
  fill: white; /* Color for the arrow */
}

/* Slogan  */
.slogan {
  background-color: rgba(33, 37, 41) /* 50% opacity */;
  position: relative;
  overflow: hidden;
  padding: auto;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 1200px;
  display: flexbox;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.5s ease;
}

.slogan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.slogan p {
  font-size: calc(3vw + 0.5vh); /* Dynamically calculated based on viewport */
  margin: auto;
  position: relative;
  z-index: 1;
}

.slogan:hover::before {
  transform: translateY(0%);
}

.slogan:hover {
  color: black; /* Changes the font color to match the background */
}

.slogan p a {
  text-decoration: none;
  color: inherit;
}

.slogan p a:hover {
  color: black; /* Ensure the link color matches the parent on hover */
}

/* Premiere Movies */

.pmovies-title {
  background-color: rgba(33, 37, 41); /* 50% opacity */
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 6%;
  display: flex;
}

.pmovies-title .play-icon {
  padding-top: 7px;
}

.pmovies-title .content {
  color: white;
  padding-left: 20px;
}

.pmovies-title .play-icon .play-icon-background {
  fill: #ffffff; /* Color for the background circle */
}

.pmovies-title .play-icon .play {
  fill: rgb(249, 88, 88); /* Color for the arrow */
}

.premiere-movies {
  background-color: rgba(33, 37, 41);
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  display: flexbox;
  padding-bottom: 40px;
}

.pmovie-container {
  display: flex;
  max-width: 1200px;
  /* background-color: beige; */
  margin-left: 6%;
  margin-right: 6%;
}

.pmovie-card {
  flex: 0 0 20%; /* Each card takes 20% of the container width */
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.pmovie-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.pmovie-card img {
  width: 100%; /* Ensures image fits in its container */
  height: auto; /* Maintains aspect ratio */
  /* border-radius: 10px; */
}

.pmovie-card p {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 1em;
}

.trending-search-title {
  position: relative;
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  margin-top: 40px;
  margin-left: 6%;
  margin-right: 6%;
}

.trending-search {
  position: relative;
  max-width: 1200px;
  /* background-color: antiquewhite; */
  margin-top: 0px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.trending-search .movie-trend {
  /* border: 1px solid black; */
  /* background-color: #f5f5f5 ; */
  color: red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 50px;
  margin-top: 35px;
}

.trending-search .movie-trend .p1 {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  /* background-color: #999999; */
  margin-bottom: 0px;
}

.trending-search .movie-trend .p2 {
  color: black;
  padding-left: 20px;
  padding-top: 0px;
  color: #676262;
}

/* Responsive Design */

@media (max-width: 1050px) {
  .movie-slider-container {
    overflow-x: scroll; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: none; /* For Firefox */
    margin-left: 6%;
    margin-right: 6%;
  }

  .movie-slider-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

  .prev,
  .next {
    display: none; /* Hide the buttons */
  }

  .movie-slider {
    display: inline-flex; /* Ensures the flex items can scroll horizontally */
    width: auto; /* Allows the content to determine the width */
  }
}

@media (max-width: 815px) {
  .premiere-movies::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  .pmovie-container {
    display: inline-flex; /* Ensures the flex items can scroll horizontally */
    width: auto; /* Allows the content to determine the width */
    margin-left: 6%;
    margin-right: 6%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: none;
  }
  .pmovie-card {
    flex: 0 0 25%; /* Each card takes 25% of the container width */
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .movie-slider-container {
    margin-left: 2%;
    margin-right: 2%;
  }

  #logo {
    margin-left: 1%;
  }
  .movies-title {
    margin-left: 2%;
    margin-right: 2%;
  }
  .slogan {
    margin-left: 2%;
    margin-right: 2%;
  }
  .premiere-movies {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .movie-card {
    flex: 0 0 25%; /* Show 2 items at a time on smaller screens */
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 0 0 25%; /*Show 1 item at a time on very small screens */
    padding: 10px;
  }
}
