body {
  /* font-family: Arial, sans-serif; */
  text-align: center;
  margin: 20px;
}

#main-container{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  min-height: 85vh;
}

#payment-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  /* background: #f9f9f9; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.input-group {
  margin-bottom: 15px;
  text-align: left;
}
label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
#btn {
  width: 100%;
  padding: 10px;
  background: rgb(248, 68, 100);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#btn:hover {
  background: rgb(252, 48, 85);
}




/* ORDER SUMMARY */

#order-container{
  background-color: #fff;
  max-width: 500px;
  padding: 20px 0px 0px 0px;
  /* border: 1px solid #ccc; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}


#order {
  /* background-color: aquamarine; */
  text-align: left;
  margin-bottom: 0%;
}

#order #lt-space{
  letter-spacing: 3px;
}

#amt-paybal{
  margin-top: 0px;
  display: flex;
  justify-content:space-between;
  border-top: 1px dashed #ccc;
}

#amt-paybal p{
  margin-bottom: 0%;
  padding: 5px 0px;
}

#name {
  background-color: #fffcdc;
}

#name p{
  color: #d62c1a;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 6px;
  margin-bottom: 0%;
}



@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}
